<div class="container p-3">
  <h3>Pesquisar</h3>
  <small>Insira um nome de localização</small>

  <div class="form-group row mt-3">
    <div class="col-lg-10">
      <input type="text" class="form-control search" id="search" [formControl]="searchForm">
    </div>

    <div class="col-lg-2">
      <button type="button" class="btn btn-search" (click)="search()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search navbar--icon">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </button>
    </div>
  </div>

  <div class="pt-3">
    <div *ngIf="loading$ | async">Carregando...</div>

    <div *ngIf="!(loading$ | async) && !(error$ | async) && !!cityWeather">
      <app-current-weather [cityWeather]="cityWeather" (toggleBookmark)="onTooggleBookmark()"></app-current-weather>
    </div>

    <div *ngIf="!(loading$ | async) && error$ | async">
      <p>Erro ao pesquisar. Tente novamente mais tarde.</p>
    </div>
  </div>
</div>