<div class="container p-3">
  <div class="form-group">
    <label for="search" class="form-label">Pesquisar</label>
    <input type="text" class="form-control" id="search" [formControl]="searchForm">

    <button type="button" class="btn btn-primary mt-3" (click)="search()">Pesquisar</button>
  </div>

  <div class="pt-3">
    <div *ngIf="loading$ | async">Carregando...</div>

    <div *ngIf="!(loading$ | async) && !(error$ | async) && !!(cityWeather$ | async)">
      {{ (cityWeather$ | async).city.name }}
    </div>

    <div *ngIf="!(loading$ | async) && error$ | async">
      <p>Erro ao pesquisar. Tente novamente mais tarde.</p>
    </div>
  </div>
</div>